<!DOCTYPE html>
<html lang="en" data-ng-app="PoloniexNinja.Popup">
  <head>
      <title>Poloniex™ Ninja Chrome Extension</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  </head>
  <body style="width: 450px; min-height: 520px; padding: 8px;
               background: url('/img/ninja-faded.png') bottom right no-repeat">
    <style type="text/css">
      ul.settings {
        margin-top: 0.2em;
      }

      ul.settings li {
        margin-left: 1em;
        font-size: 0.9em;
      }
    </style>
    <div class="container">
      <uib-tabset active="active">
        <uib-tab index="0" heading="About Poloniex™ Ninja">
          <div class="text-center">
            <h3>Have you become a PoloNinja yet?</h3>
            <p>Poloniex™ Ninja is free, now and forever.</p>
            <p>Consider donating <strong>0.002 Bitcoin</strong>
               or more to this address:</p>

            <h4 style="color: #2244DD; font-family: monospace; margin: 0px;">
              15gdw8khnhEvVEEjbSR8aXSPvbwNdCUEPJ
            </h4>
            <img src="/img/donate-qr-code.png"
                 alt="15gdw8khnhEvVEEjbSR8aXSPvbwNdCUEPJ"
                 width="192"
                 height="191"
                 title="Donate 0.002 BTC"
                 style="margin: 20px;">
            <p>Thanks for supporting development of Poloniex™ Ninja!</p>

            <p>
              <strong>Get the latest updates and follow me on
                  <a href="https://twitter.com/codesonzh"
                     target="_blank">twitter</a>!</strong>
            </p>

            <hr>

            <a href="https://github.com/codesonzh/poloniex-ninja"
               target="_blank">
              Poloniex™ Ninja source code</a>
            |
            <a href="https://github.com/codesonzh/poloniex-ninja/issues/new"
               target="_blank">
              Send feedback
            </a>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Settings">
          <div ng-controller="SettingsController">
            <div class="pull-right">
              <button class="btn btn-sm btn-primary" ng-click="resetSettings()">
                Reset to defaults
              </button>
            </div>
            <h3>Settings</h3>

            <strong>Extra balance columns:</strong><br>
            <ul class="nav nav-pills nav-stacked settings">
              <li ng-repeat="col in EXTRA_BALANCE_COLUMNS">
                <label>
                  <input type="checkbox" id="{{col.key}}"
                         ng-model="settings.balance_column_visibility[col.key]"
                         ng-change="saveSettings()">
                  <span title="{{col.description}}">{{col.setting}}</span>
                </label>
              </li>
            </ul>
            <br>

            <strong>Real time updates:</strong><br>
            <ul class="nav nav-pills nav-stacked settings">
              <li>
                <label>
                  <input type="checkbox" id="real_time_updates_ticker"
                         ng-model="settings.real_time_updates.ticker"
                         ng-change="saveSettings()">
                  <span>Enable real-time price ticker</span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" id="real_time_updates_btc_value"
                         ng-model="settings.real_time_updates.btc_value"
                         ng-change="saveSettings()">
                  <span>Enable real-time BTC value (experimental)</span>
                </label>
              </li>
            </ul>
            <br>

            <strong>Donations:</strong><br>
            <ul class="nav nav-pills nav-stacked settings">
              <li>
                <label>
                  <input type="checkbox" id="display_withdrawal_donation"
                         ng-model="settings.display_withdrawal_donation"
                         ng-change="saveSettings()">
                  <span>Display donation info at withdrawal form</span>
                </label>
              </li>
            </ul>

            <hr>
            <p>
              Special thanks to
              <a href="https://github.com/Zettt" target="_blank">Zettt</a>
              for suggesting the column toggle feature.
            </p>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/angular-1.6.4.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/js/settings.js"></script>
    <script src="/js/popup.js"></script>
  </body>
</html>
