th.poloniex-ninja {
  background-color: #8cbcbd !important;
}

td.poloniex-ninja {
  background-color: #f2faff !important;
}

span.poloniex-ninja-filter-option {
  background-color: #f2faff !important;
  border: 1px solid #8cbcbd;
  padding-left: 3px;
}

.poloniex-ninja-dark th.poloniex-ninja {
  background-color: #546362 !important;
}

.poloniex-ninja-dark td.poloniex-ninja {
  background-color: #2b3737 !important;
}

.poloniex-ninja-dark span.poloniex-ninja-filter-option {
  background-color: #2b3737 !important;
  border: 1px solid #546362;
}

td.poloniex-ninja.neutral {
  color: yellow !important;
}

td.poloniex-ninja.negative {
  color: red !important;
}

td.poloniex-ninja.positive {
  color: green !important;
}

.poloniex-ninja-hidden {
  display: none !important;
}

.poloniex-ninja-stretch-0 {
}

.poloniex-ninja-stretch-1 {
}

.poloniex-ninja-stretch-2 {
}

.poloniex-ninja-stretch-3 {
}

.poloniex-ninja-stretch-4 {
  max-width: 920px !important;
}

.poloniex-ninja-stretch-5 {
  max-width: 990px !important;
}

.poloniex-ninja-stretch-6 {
  max-width: 1050px !important;
}

input.poloniex-ninja-donation-amount {
  display: inline !important;
  width: 80px !important;
  border: 1px solid #ccc;
  background: transparent;
  text-align: right;
}

.poloniex-ninja-dark input.poloniex-ninja-donation-amount {
    border: 1px solid #4e696c;
}

.poloniex-ninja-donation .icon {
  vertical-align: bottom;
  margin-right: 5px;
}

.poloniex-ninja-filtered-untraded .poloniex-ninja-untraded {
  display: none;
}
