th.poloniex-ninja {
  background-color: #8cbcbd !important;
}

td.poloniex-ninja {
  background-color: #f2faff !important;
}

.poloniex-ninja-dark th.poloniex-ninja {
  background-color: #546362 !important;
}

.poloniex-ninja-dark td.poloniex-ninja {
  background-color: #2b3737 !important;
}

td.poloniex-ninja.neutral {
  color: yellow !important;
}

td.poloniex-ninja.negative {
  color: red !important;
}

td.poloniex-ninja.positive {
  color: green !important;
}

.poloniex-ninja-hidden {
  display: none;
}

.poloniex-ninja-stretch-0 {
}

.poloniex-ninja-stretch-1 {
}

.poloniex-ninja-stretch-2 {
}

.poloniex-ninja-stretch-3 {
}

.poloniex-ninja-stretch-4 {
  max-width: 920px !important;
}

.poloniex-ninja-stretch-5 {
  max-width: 960px !important;
}

.poloniex-ninja-stretch-6 {
  max-width: 1050px !important;
}
