th.poloniex-ninja {
  background-color: #8cbcbd !important;
}

td.poloniex-ninja {
  background-color: #f2faff !important;
}

span.poloniex-ninja-filter-option {
  background-color: #f2faff !important;
  border: 1px solid #8cbcbd;
  padding-left: 3px;
}

.poloniex-ninja-dark th.poloniex-ninja {
  background-color: #334040 !important;
}

.poloniex-ninja-dark td.poloniex-ninja {
  background-color: #162020 !important;
}

.poloniex-ninja-dark span.poloniex-ninja-filter-option {
  background-color: #162020 !important;
  border: 1px solid #334040;
}

td.poloniex-ninja small {
  font-size: 0.8em;
  color: #CCC;
}

.poloniex-ninja-dark td.poloniex-ninja small {
  color: #666;
}

td.poloniex-ninja.neutral {
  color: #888800 !important;
}

td.poloniex-ninja.negative {
  color: red !important;
}

td.poloniex-ninja.positive {
  color: green !important;
}

.poloniex-ninja-dark td.poloniex-ninja.negative {
  color: #bb0000 !important;
}

.poloniex-ninja-dark td.poloniex-ninja.positive {
  color: #008800 !important;
}

td.poloniex-ninja.bg-neutral {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  border: 1px dotted transparent;
  transition-duration: 0.1s;
}

td.poloniex-ninja.bg-negative {
  background-color: #f6d4d1 !important;
  border: 1px solid #c02a1d;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

td.poloniex-ninja.bg-positive {
  background-color: #ceebd3 !important;
  border: 1px solid #27892f;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.poloniex-ninja-dark td.poloniex-ninja.bg-negative {
  background-color: #2c1b1a !important;
  border: 1px solid #821d14;
}

.poloniex-ninja-dark td.poloniex-ninja.bg-positive {
  background-color: #15281c !important;
  border: 1px solid #15531a;
}

.poloniex-ninja-hidden {
  display: none !important;
}

.poloniex-ninja-stretch-0 {
}

.poloniex-ninja-stretch-1 {
}

.poloniex-ninja-stretch-2 {
}

.poloniex-ninja-stretch-3 {
}

.poloniex-ninja-stretch-4 {
  max-width: 920px !important;
}

.poloniex-ninja-stretch-5 {
  max-width: 1000px !important;
}

.poloniex-ninja-stretch-6 {
  max-width: 1070px !important;
}

.poloniex-ninja-stretch-7 {
  max-width: 1120px !important;
}

.poloniex-ninja-stretch-8 {
  max-width: 1200px !important;
}

input.poloniex-ninja-donation-amount {
  display: inline !important;
  width: 80px !important;
  border: 1px solid #ccc;
  background: transparent;
  text-align: right;
}

.poloniex-ninja-dark input.poloniex-ninja-donation-amount {
    border: 1px solid #4e696c;
}

.poloniex-ninja-donation .icon {
  vertical-align: bottom;
  margin-right: 5px;
}

.poloniex-ninja-filtered-untraded .poloniex-ninja-untraded {
  display: none;
}
